.upload {
  width: 100vw;
  height: fit-content;
  background-color: $lighterGray;
  border: 2px solid black;
}

.dragDropArea {
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: $mineShaft;
  text-align: center;
  color: white;
}

.dragDropArea:hover {
  background-color: $evenLighterGray;
}

.submitButton:hover:enabled {
  background-color: $lighterGray;
}
