.upload-section {
  height: fit-content;
  padding: 10px;
  background-color: $lighterGray;
  border: 2px solid black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.dragDropArea {
  margin: auto;
  width: 200px;
  height: 100px;
  padding: 20px;
  background-color: $mineShaft;
  color: white;
  cursor: pointer;
}

.dragDropArea:hover {
  background-color: $evenLighterGray;
}

.submitButton:hover:enabled {
  background-color: $lighterGray;
}
