.game-select {
  width: 100vw;
  height: fit-content;
  background-color: $lighterGray;
  border: 2px solid black;

  button {
    display: inline;
  }
}

.gameCard {
  padding: 10px;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  display: inline-block;
}
