.game-select {
  height: fit-content;
  padding: 10px;
  background-color: $lighterGray;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;

  button {
    display: inline;
  }
}

.gameCard {
  padding: 10px;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  display: inline-block;
}
