.vizOuter {
  width: 100vw;
  height: 100vh;
  background-color: $mineShaft;

  .vizInner {
    margin: auto;
    width: 80vw;
    height: 80vh;
    background-color: $lighterGray;

    img {
      width: inherit;
      height: inherit;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;

    }
    svg {
      width: inherit;
      height: inherit;
      position: absolute;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      // Need to flip Y scale to match coordinate system
      transform: scaleY(-1);

      text {
        // Flip y again to have text appear right-side-up
        transform: scaleY(-1);
      }
    }



  }
}

