.viz-outer {
  width: 100vw;
  height: fit-content;
  background-color: $mineShaft;

  h3 {
    padding: 10px;
    color: $evenLighterGray;
    text-align: center;
  }

  .viz-inner {
    z-index: 1;
    margin: auto;
    width: 100vw;
    height: 60vh;
    background-color: $lighterGray;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    img {
      z-index: 2;
      position: absolute;
      width: inherit;
      height: inherit;
    }
    svg {
      z-index: 10;
      width: inherit;
      height: inherit;
      position: absolute;
      // Need to flip Y scale to match coordinate system
      transform: scaleY(-1);


      text {
        // Flip y again to have text appear right-side-up
        transform: scaleY(-1);
      }
      .heavy {
        font: bold 12px serif;
      }

    }
  }
}

.stats-area {
  width: inherit;
  height: fit-content;
  text-align: center;

  p {
    font-size: 22px;
    font-weight: bold;
  }

  caption {
    font-weight: bold;
    font-size: 24px;
  }

  table {
    margin: auto;
  }
}

.control-buttons {
  width: inherit;
  margin: auto;
  text-align: center;
}
